.sequence-error
  .info
    .error-code
      .txt Error
      .code= code
    .content.summary
      .label Summary:
      .txt= summary
    .content.guide
      .label Guide: 
      a(href="#{code}") 
        .txt Understanding and Resolving a #{code} Error
        img.shadow-icon(data-src="external-link")
    .retry-btn Retry
  pre.stack-trace= trace
    
  .stack-trace-btn 
    img.shadow-icon(data-src="stack-trace")
    .txt
