.sequence-error.hidden
  .all-content
    .info
      .error-code
        .txt Error
        .code= code
      .error-content.summary
        .label Summary:
        .txt= summary
      .error-content.guide
        .label Guide: 
        a(href="#{doc}", target="_blank") 
          .txt Understanding and Resolving a #{code} Error
          img.shadow-icon(data-src="external-link")
      if retry_path
        .retry-btn Retry
      .stack-trace-btn 
        img.shadow-icon(data-src="stack-trace")
        .txt
    .output
      if message
        .message= message
      if hasMeta
        pre.meta= metaString
      if trace
        pre.stack-trace= trace
      
